/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* PrimeReact Styles */
@import 'primereact/resources/themes/lara-light-blue/theme.css'; /* Tema de sua escolha */
@import 'primereact/resources/primereact.min.css'; /* Estilos principais */
@import 'primeicons/primeicons.css'; /* Ícones */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
